
<h1 style="text-align: center;">Come Get Your Compliment</h1>
<div id="formdiv">
<form method="post" action="/compliment">
	<div class="theform">
		<label>Enter Your Name:</label> 
		<div class="blank"><input type="text" name="yourname" class="text"/></div>
	</div>

	<input type="submit" class="button"/>
</form>
</div>